Source: simplejson
Section: python
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Standards-Version: 4.4.1
Build-Depends:
 dh-python (>= 1.20130807),
 python2.7-dbg,
 python2.7-dev,
Homepage: https://simplejson.readthedocs.io/
Vcs-Git: https://github.com/turnkeylinux/python-simplejson.git
Vcs-Browser: https://github.com/turnkeylinux/python-simplejson

Package: python-simplejson
Architecture: any
Depends:
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends},
Breaks:
 ${python:Breaks},
Provides:
 ${python:Provides},
Description: simple, fast, extensible JSON encoder/decoder for Python 2.x
 simplejson is a simple, fast, complete, correct and extensible JSON
 <http://json.org> encoder and decoder.
 .
 The encoder may be subclassed to provide serialization in any kind of
 situation, without any special support by the objects to be serialized
 (somewhat like pickle).
 .
 The decoder can handle incoming JSON strings of any specified encoding
 (UTF-8 by default).
 .
 simplejson is the externally maintained development version of the json
 library included with Python 2.6 and Python 3.0, but maintains backwards
 compatibility with Python 2.5.
 .
 This package contains the Python 2.x module.
