Source: simplejson
Section: python
Priority: optional
Maintainer: Tommi Virtanen <tv@debian.org>
Standards-Version: 3.7.2
Build-Depends: cdbs (>= 0.4.42), debhelper (>= 5.0.37.1), python, python-setuptools (>= 0.6b3-1), python-support (>= 0.3)
Build-Depends-Indep: python-all-dev (>= 2.3.5-10)
XS-Python-Standards-Version: 0.4
XS-Python-Version: >= 2.3

Package: python-simplejson
Architecture: all
Depends: ${python:Depends}
XB-Python-Version: ${python:Versions}
Replaces: python2.4-simplejson
Conflicts: python2.4-simplejson
Description: Simple, fast, extensible JSON encoder/decoder for Python
 simplejson is a simple, fast, complete, correct and extensible JSON
 <http://json.org> encoder and decoder. It is pure Python code with no
 dependencies.
 .
 The encoder may be subclassed to provide serialization in any kind of
 situation, without any special support by the objects to be serialized
 (somewhat like pickle).
 .
 The decoder can handle incoming JSON strings of any specified encoding
 (UTF-8 by default).
