#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-simplejson/

LAST_CHANGE = $(shell dpkg-parsechangelog -S Date)
BUILD_DATE  = $(shell LC_ALL=C date -u "+%B %d, %Y" -d "$(LAST_CHANGE)")

%:
	dh $@ --with python2 --buildsystem=pybuild

build-indep:
	dh_testdir
	dh_installdirs

override_dh_strip:
	dh_strip --no-automatic-dbgsym
